@import "tailwindcss";


@theme {
  --color-blue-pri: rgb(16, 20, 30);
  --color-blue-sec: rgb(22, 29, 47);
  --color-blue-ter: rgb(90, 105, 143);
  --color-red-pri:rgb(252, 71, 71);
}


.card {
  @apply bg-blue-sec rounded-[10px] flex flex-col gap-6 md:gap-8 p-6 md:p-8 w-81.75 md:w-100 
}